# Login credentials for the website
HC_LOGIN=your_username
HC_PASSWORD=your_password

# login credentials for MobiDziennik
MB_LOGIN=your_mobidziennik_login
MB_PASSWORD=your_mobidziennik_password

# WeatherappAPI variables
WEATHERAPP_API_KEY=your_weatherapp_api_key
LON=your_longitude
LAT=your_latitude