<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/homeStyle.css">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
    <script src="../static/scripts/weather.js"></script>
    <script src="../static/scripts/time.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('WOL') }}">Wake On Lan</a>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 id="clock">00:00</h1>
        </div>
        <div class="weather">
            <!-- <dotlottie-player src="https://lottie.host/f3e00168-7aab-4b99-be92-698d5ff538b6/gy54KTu0D2.lottie"
                background="transparent" speed="0.5" style="width: 400px; height: 400px;" loop autoplay></dotlottie-player> -->
            <div id="icon">
                
            </div>
            <p id="temp">0.0°C</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 ARCTIC WOL SERVER</p>
    </footer>
</body>
</html>