<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Chart</title>
    <link rel="stylesheet" href="../static/css/schoolStyle.css">

    <link rel="icon" type="image/x-icon" href="/static/icon/CYAN.ico">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="../static/scripts/attendance.js"></script>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('WOL') }}">Wake On Lan</a>
            <a href="{{ url_for('school') }}">School Chart</a>
            <a href="{{ url_for('school') }}">Daily AI Settings</a>
        </nav>
    </header>
    <main>
        <div id="container">
            <!-- Populating area... -->
        </div>
    </main>
    <div class="week-days">
        <div class="status"></div>
        <div class="day" id="Monday">
            <div class="day-header">
                <span>Poniedziałek</span>
                <span class="day-skip-counter" id="monday-max-skip">...</span>
                <div class="safe-status" id="monday-state">Loading...</div>
            </div>

            <div class="day-content">
                <ul>
                    <!-- Populating... -->
                </ul>
            </div>
        </div>
        <div class="day" id="Tuesday">
            <div class="day-header">
                <span>Wtorek</span>
                <span class="day-skip-counter" id="tuesday-max-skip">...</span>
                <div class="safe-status" id="tuesday-state">Loading...</div>
            </div>

            <div class="day-content">
                <ul>
                    <!-- Populating... -->
                </ul>
            </div>
        </div>
        <div class="day" id="Wednesday">
            <div class="day-header">
                <span>Środa</span>
                <span class="day-skip-counter" id="wednesday-max-skip">...</span>
                <div class="safe-status" id="wednesday-state">Loading...</div>
            </div>

            <div class="day-content">
                <ul>
                    <!-- Populating... -->
                </ul>
            </div>
        </div>
        <div class="day" id="Thursday">
            <div class="day-header">
                <span>Czwartek</span>
                <span class="day-skip-counter" id="thursday-max-skip">...</span>
                <div class="safe-status" id="thursday-state">Loading...</div>
            </div>

            <div class="day-content">
                <ul>
                    <!-- Populating... -->
                </ul>
            </div>
        </div>
        <div class="day" id="Friday">
            <div class="day-header">
                <span>Piątek</span>
                <span class="day-skip-counter" id="friday-max-skip">...</span>
                <div class="safe-status" id="friday-state">Loading...</div>
            </div>

            <div class="day-content">
                <ul>
                    <!-- Populating... -->
                </ul>
            </div>
        </div>
    </div>
</body>
</html>